USE [master]
GO
/****** Object:  Database [CrudDemo]    Script Date: 3/18/2018 10:01:36 PM ******/
CREATE DATABASE [CrudDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudDemo', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CrudDemo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CrudDemo_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CrudDemo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrudDemo]
GO
/****** Object:  Table [dbo].[Program]    Script Date: 3/18/2018 10:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Semesters] [int] NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/18/2018 10:01:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProgramId] [int] NULL,
	[Semester] [nvarchar](50) NULL,
	[FatherName] [nvarchar](50) NULL,
	[Contact] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Program] ON 

INSERT [dbo].[Program] ([Id], [Description], [Semesters]) VALUES (1, N'BSCS', 8)
INSERT [dbo].[Program] ([Id], [Description], [Semesters]) VALUES (2, N'MCS', 4)
INSERT [dbo].[Program] ([Id], [Description], [Semesters]) VALUES (3, N'BSIT', 8)
SET IDENTITY_INSERT [dbo].[Program] OFF
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Program] ([Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Program]
GO
USE [master]
GO
